@charset "UTF-8";
td {
  border: solid 2px #44f638;
}
.next {
  background-color: rgb(75, 172, 172);
  text-align: center;
  color: aliceblue;
}
.prev {
  background-color: rgb(163, 97, 77);
  text-align: center;
  color: aliceblue;
}
